body{
    font: normal 15pt Arial;
    background-color: skyblue;
    color: black;
    padding: 10px;
}
header{

}
section{

}
footer{
    text-align: center;
    color: red;
}
div.TextoPrincipal{

}